//font-family: 'Lexend Deca', sans-serif;
//font-family: 'Big Shoulders Display', cursive;

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

//paragraph
$transparent-white: hsla(0, 0%, 100%, 0.75);

//bg, headings, buttons
$very-light-gray: hsl(0, 0%, 95%);

html {
  font-size: 15px;
}

body {
  background: $very-light-gray;
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 990px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 10px 0;
  }
}

.column {
  padding: 4rem;
  width: 210px;
}

.column-header {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: $very-light-gray;
  font-size: 2.5rem;
}

.column-paragraph {
  font-family: "Lexend Deca", sans-serif;
  color: $transparent-white;
  line-height: 1.8;
}

@media (max-width: 990px) {
  .column-paragraph {
    margin-bottom: 3rem;
  }
}

.column-link {
  display: inline-block;
  margin-top: 4rem;
  text-decoration: none;
  background: $very-light-gray;
  padding: 1rem 2rem;
  border-radius: 5rem;
  font-family: "Lexend Deca", sans-serif;
}

.link-orange {
  color: $bright-orange;

  &:hover {
    background: $bright-orange;
    border: 2px solid white;
    color: $very-light-gray;
  }
}

.link-turquoise {
  color: $dark-cyan;

  &:hover {
    background: $dark-cyan;
    border: 2px solid white;
    color: $very-light-gray;
  }
}

.link-darker-turquoise {
  color: $very-dark-cyan;

  &:hover {
    background: $very-dark-cyan;
    border: 2px solid white;
    color: $very-light-gray;
  }
}

.orange {
  background: $bright-orange;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

@media (max-width: 990px) {
  .orange {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
}

.turquoise {
  background: $dark-cyan;
}

.darker-turquoise {
  background: $very-dark-cyan;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 990px) {
  .darker-turquoise {
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0;
  }
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 10px;
}

@media (max-width: 990px) {
  footer {
    position: static;
    display: block;
  }
}
