$left-column: hsl(31, 77%, 52%);
$middle-column: hsl(184, 100%, 22%);
$right-column: hsl(179, 100%, 13%);
$paragraph: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);
//bg, headings, buttons

html {
  font-size: 62.5%;
}

body {
  background: $very-light-gray;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1040px) {
  body {
    flex-direction: column;
  }
}

.wrapper {
  max-width: 144rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1040px) {
  .wrapper {
    flex-direction: column;
    margin: 5rem;
    max-width: 37.5rem;
  }
}

.column {
  max-width: 22.5rem;
  padding: 4.5rem;
}

.column--orange {
  background: $left-column;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.column--turquoise {
  background: $middle-column;
}

.column--darker-turquoise {
  background: $right-column;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

//rounded borders in mobile version
@media (max-width: 1040px) {
  .column--orange {
    background: $left-column;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 0;
  }

  .column--darker-turquoise {
    background: $right-column;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

.column__image {
  width: 7rem;
}

.column__header {
  color: $very-light-gray;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
}

.column__paragraph {
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
  color: $paragraph;
  line-height: 2.75rem;
  margin-top: 0;
  margin-bottom: 9rem;
}

@media (max-width: 1040px) {
  .column__paragraph {
    margin-bottom: 4rem;
  }
}

.column__link {
  display: inline-block;
  font-family: "Lexend Deca", sans-serif;
  padding: 1.3rem 2.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  border: 0.3rem solid transparent;
  border-radius: 4rem;
  transition: 0.3s;
  background: white;
}

.column__link:hover {
  color: white;
  border: 0.3rem solid white;
}

.link--orange {
  color: $left-column;

  &:hover {
    background: $left-column;
  }
}

.link--turquoise {
  color: $middle-column;

  &:hover {
    background: $middle-column;
  }
}

.link--darker-turquoise {
  color: $right-column;

  &:hover {
    background: $right-column;
  }
}

.attribution {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 1rem;
  font-size: 1.1rem;

  a {
    color: $left-column;
  }
}

@media (max-width: 1040px) {
  .attribution {
    position: static;
  }
}
