//font-family: 'Lexend Deca', sans-serif;
//font-family: 'Big Shoulders Display', cursive;

$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

//paragraph
$transparent-white: hsla(0, 0%, 100%, 0.75);

//bg, headings, buttons
$very-light-gray: hsl(0, 0%, 95%);

body {
  font-size: 15px;
}
